.home {
    color: yellow;
    background-image: linear-gradient(rgb(90, 0, 150), black);
    text-shadow: 3px 3px black;
}

.sobre {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(90, 0, 150));
}

.btn-baixar {
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border: 2px solid black;
}

.tecnologias {
    background-image: linear-gradient(rgb(90, 0, 150), black);
}

.projetos {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(90, 0, 150));
}